.header {
  padding-top: 100px;
  margin-bottom: 95px;
  background-color: #090909;
  padding-bottom: 80px;
}

.innerContainer {
  margin: auto;
  display: flex;
  min-height: 700px;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

.textContainer {
  max-width: 512px;
  text-align: start;
}

.imageContainer {
  width: 600px;
  /* height: 600px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .textContainer {
    margin-left: 30px;
  }
  .imageContainer {
    height: 530px;
  }
}

@media only screen and (max-width: 1200px) {
  .imageContainer {
    height: 450px;
    width: 550px;
  }
  .textContainer {
    width: 445px;
  }
}

@media only screen and (max-width: 1000px) {
  .imageContainer {
    display: none;
  }
  .textContainer {
    margin-top: 100px;
    width: 500px;
  }
  .innerContainer {
    min-height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    margin-bottom: 99px;
  }
  .textContainer {
    margin-left: 10px;
  }
}
