.header {
  margin-top: 50px;
  margin-bottom: 135px;
}

.innerContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
}

.textContainer {
  max-width: 512px;
  text-align: start;
  margin-left: 120px;
}

.imageContainer {
  height: 630px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
