.projects {
  margin-top: 136px;
  margin-bottom: 135px;
}

.innerContainer {
  max-width: 1400px;
  margin: auto;
}

.projectsContainer {
  margin-top: 80px;
  width: 100%;
  border-radius: 5px;
}

.project {
  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border: 15px solid #3f3d56;
  box-sizing: border-box;
  /* opacity: 0; */
  /* animation: fadeIn 1.5s linear forwards; */
  transition: all 0.3s;
}
.projectTextContainer {
  text-align: start;
  max-width: 35%;
}
.projectTextContainer > :not(:last-child) {
  margin-bottom: 30px;
}

.projectImageContainer {
  width: 55%;
  height: 100%;
}
.projectImg {
  width: 100%;
  height: 100%;
}

.projectBtnContainer {
  width: max-content;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.projectBtnContainer > :not(:last-child) {
  margin-right: 10px;
}

.projectBtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #373549;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.projectBtn:hover {
  transform: scale(1.05);
}
.projectBtn:active {
  transform: scale(1);
}

.activeProjectBtn::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #373549;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
