.contact {
  margin-top: 136px;
  min-height: 100vh;
}

.innerContainer {
  max-width: 1400px;
  margin: auto;
}

.formContainer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contactForm > :not(:last-child) {
  margin-bottom: 24px;
}

.contactImageContainer {
  width: 600px;
}
.contactImg {
  width: 100%;
}

.contactWave {
  width: 100%;
  min-height: 455px;
  background-image: url("../../../assets/img/contact-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.contactIconContainer {
  margin: auto;
  width: 192px;
  display: flex;
  align-items: center;
}

.contactIconContainer > :not(:last-child) {
  margin-right: 24px;
}
