.contact {
  background-color: #191919;
}
h1.hire__text {
  font-size: 60px;
}
p.hire__text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(29, 29, 36, 0.75);
  font-weight: 400;
}
input.contact {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  margin: 20px 0px;
  outline: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1px;
  background: none;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
}
.contact__img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}
.contact__img_container {
  max-width: 33%;
}
textarea#message {
  height: 120px;
  background: none;
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
  line-height: 46px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1px;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
}
button.btn.contact.pointer {
  margin: 20px 0px;
}

.input__box {
  max-width: 600px;
}

.doneAllIcon {
  opacity: 0;
  transition: all 0.3s;
  animation: 0.3s fadeIn linear forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .contact__img_container {
    max-width: 40%;
  }
}

@media only screen and (max-width: 1100px) {
  .contact__container {
    display: flex;
    align-items: center;
  }
  .contact__img_container {
    max-width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .contact__img_container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1.hire__text {
    font-size: 55px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 500px) {
  h1.hire__text {
    font-weight: 400;
  }
}
