.nav {
  height: 56px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.innerContainer {
  margin: auto;
}

.linkContainer {
  width: 292px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: auto;
}
